
/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/
body{
  background:brown;/*sets a color for the background*/
  font-family: cursive;/*sets the font for the text*/
  border-radius: 20px;/*sets a radius for the border*/
  border-style: ridge;/*sets the border style for the border*/
  padding:30px; /*sets a gap between the html element and the border*/

}
